---
const getYear = () => new Date().getFullYear().toString();
---

<footer
  class="flex justify-center items-center bg-transparent py-4"
>
  <p class="flex items-center text-center font-light text-sm text-secondary">
    &copy; {getYear()} Edited by Buğra Keskin

  </p>
  <img
    class="rounded-full w-4 h-4 ml-2 shadow-md border border-black"
    src="tr_flag_128x.png"
    alt="Tr Flag"
  />
</footer>
